<div class="row" id="<%- id %>">
    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
        <div class="question">
            <%- label %>
            <input type="hidden" name="question[<%- id %>][question]" value="<%- label %>">
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
        <label>
	        <div class="upload-file-btn">Select image</div>
	        <input name="question[<%- id %>][value]" hidden="" type="file">
	        <span class="filename"></span>
	    </label>
    </div>
</div>