<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
        <div class="question">
            <%- label_1 %>
            <input type="hidden" name="question[<%- id %>][question]" value="<%- label_1 %>">
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
        <label class="radio-label">
            <input <% if(required) {%> required <% } %> data-id="<%- id %>"
                   class="custom-radio radio-trigger" type="radio"
                   name="question[<%- id %>][value]" value="yes">
            Yes
        </label>
        <label class="radio-label">
            <input <% if(required) {%> required <% } %> data-id="<%- id %>"
                   class="custom-radio radio-trigger" type="radio"
                   name="question[<%- id %>][value]" value="no">
            No
        </label>
    </div>
</div>
<div class="dependent-row" id="<%- id %>">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
            <div class="question">
                <%- label_2 %>
                <input type="hidden" name="question[<%- id %>-1][question]" value="<%- label_2 %>">
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
            <input class="custom-input" type="text" name="question[<%- id %>-1][value]" <% if(required) {%> required <% } %>>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="textarea-label">
                <%- label_3 %>
                <input type="hidden" name="question[<%- id %>-2][question]" value="<%- label_3 %>">
                <textarea name="question[<%- id %>-2][value]" rows="3" <% if(required) {%> required <% } %>></textarea>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
            <div class="question">
                <%- label_4 %>
                <input type="hidden" name="question[<%- id %>-3][question]" value="<%- label_4 %>">
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
            <input class="custom-input" type="text" name="question[<%- id %>-3][value]" <% if(required) {%> required <% } %>>
        </div>
    </div>
</div>
