<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
        <div class="question">
            <%- label_1 %>
            <input type="hidden" name="question[<%- id %>][question]" value="<%- label_1 %>">
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
        <label class="radio-label">
            <input <% if(required) {%> required <% } %> data-banon="<%- label_2 %>"
            data-msgid="<%- id %>-msg" class="custom-radio radio-trigger green" type="radio"
            name="question[<%- id %>][value]" value="yes">
            Yes
        </label>
        <label class="radio-label">
            <input <% if(required) {%> required <% } %>  data-banon="<%- label_2 %>"
            data-msgid="<%- id %>-msg" class="custom-radio radio-trigger green" type="radio"
            name="question[<%- id %>][value]" value="no">
            No
        </label>
        <label class="radio-label" style="display: none">
            <div><%- label_2 %></div>
        </label>
        <div class="msg" id="<%- id %>-msg" style="display: none;color:red;">
            <%- label_3 %>
        </div>
    </div>
</div>

